/* PC */
@media (min-width: 1024px){
    .footer__PC-resp{
        margin-left: 5px;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .category-item__link-resp-tablet{font-size: 1.1rem;}
    .home-filter__label{
        display: none;
    }
}

/* mobile */
@media (max-width: 739px){}